/* Estilos generales */
body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Cabecera */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('https://media.discordapp.net/attachments/1124872508408070208/1157367480637992960/tebanieo_elegant_background_image_in_shades_of_blue_and_purple__0b75a98d-16e1-47de-b15e-574e4b4e89fe.png?ex=651859f6&is=65170876&hm=86df3dd2b2b613620cb7c9f6ed3beb28f6659ca7cea9e8ffb3c119b21737979a&'); /* Reemplaza 'tu-imagen-de-fondo.jpg' con la URL de tu imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el footer */
    background-repeat: no-repeat; /* Evita la repetición de la imagen de fondo */
    background-position: center; /* Centra la imagen de fondo */
    color: #6633ff; /* Color de texto para asegurar que sea legible en la imagen de fondo */
    padding: 25px 20px;
}

.logo {
    text-align: center; /* Centra el contenido horizontalmente */
    flex: 1; /* Ocupa el espacio disponible en la cabecera */
}

.logo img {
    max-width: 200px;
    display: block; /* Para centrar verticalmente la imagen */
    margin: 0 auto; /* Centra la imagen horizontalmente dentro de su contenedor */
}

.language-switch {
    display: flex;
    align-items: center;
}

label {
    margin-right: 7px;
    font-size: 18px;

}

.back-button img {
    width: 35px;
    position: absolute;
    top: 45px;
    left: 10px;
}

/* Estilos para el contenedor principal */
main {
position: relative;
background-image:url(contentbackground.png);
background-color: #E9E1FF;
background-repeat: no-repeat;
background-size: 38%;
padding: 150px;
width:100%;
height:200px;}

/* Estilos para preguntas y respuestas */
.pqrs {
    position: absolute;
    margin-top:1%;
    margin-left:32%;
    
}
    
.pqrs-title {
    margin-top:2%;
    margin-left:44%;
    font-size:50px;
    color:#1D0e48;
    line-height: 5px;
}

.pqrs-question {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
}

.pqrs-question h2 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.pqrs-answer {
    display: none;
    margin-top: 10px;
}

.pqrs-button {
    display: block;
    text-align: center;
    margin-top: 20px;
    background-color: #C5b2ff;
    color:#1D0e48;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.pqrs-button:hover {
    color: #2B156d;
    background: linear-gradient(to right, #005dbb, #0099ff);
}


/* Estilos para el interruptor de idioma */
.language-switch input[type="checkbox"] {
    display: none;
}

.language-switch label {
    cursor: pointer;
}



/* Estilos para preguntas y respuestas */
.pqrs-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.pqrs-content {
    overflow-y: auto;
    max-height: 300px;
}

.pqrs-question {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
}

.pqrs-question h2 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.pqrs-answer {
    display: none;
    margin-top: 10px;
}

/* Estilos para el footer */
footer {
    background-image: url('fondo3.png'); /* Reemplaza 'tu-imagen-de-fondo.jpg' con la URL de tu imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el footer */
    background-repeat: no-repeat; /* Evita la repetición de la imagen de fondo */
    background-position: center; /* Centra la imagen de fondo */
    color: #6633ff; /* Color de texto para asegurar que sea legible en la imagen de fondo */
    padding: 20px 0; /* Ajusta el espaciado interior según tus preferencias */
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px; /* Ajusta el ancho máximo según tus preferencias */
    margin: 0 auto; /* Centra el contenido horizontalmente */
}

.left-links {
    text-align: left;
}

.left-links li {
    color: #6633ff;
    display: block; /* Hace que los enlaces ocupen toda la anchura */
    margin-bottom: 15px; /* Agrega espacio entre los enlaces */
}
.social_icons {
    margin: -5px;
    cursor: pointer;
    c
  }
.icon-link img {
    width: 40px;
    margin: 5px;
  }
  

.center-logo {
    text-align: center;
}

.center-logo img {
    max-width: 100px; /* Ajusta el tamaño máximo del logo según tus preferencias */
    height: auto; /* Mantiene la proporción del logo */
}



.animated-text {
    text-align: center;
    animation: rainbow-text 3.5s infinite;
  }
  
  @keyframes rainbow-text {
    0% {
      color:#9572ff
    }
    25% {
      color: #C5b2ff;
    }
    50% {
      color:#6633ff
    }
    75% {
      color:#AF33ff;
    }
    100% {
      color: #3533ff;
    }
  }





